body{
   color:black;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   display: block;
   background-color: #5d1010;
   text-align: center;
   
}

.recipe-card{
    border: 20px inset rgb(71, 29, 29);
    display:inline-block;
    background-color: tan;
    padding:10px;
    max-width: 800px;
}

.recipe-intro{
    display: inline-block;

    }

.nav-bar{
    display: block;
    text-align: center;

}

.nav-bar ul{
    display: block;
    padding:0;
    border: 10px solid rgb(71, 29, 29);
    border-radius:10%;
    overflow: hidden;
}

.nav-bar ul li {
    display: inline-block;
    text-align: center;
    margin: 0 50px;
    font-weight: bolder;
    border: 10px inset rgb(71, 29, 29);
    border-radius:10%;
    background-color: tan;
    padding: 0 20px;


}

.recipe-header{
    display: block;
    text-align: Center;
    border: 5px inset rgb(71, 29, 29);
    border-radius:10%;
    overflow: hidden;
    margin: 20px 0;
}

.recipe-img {
    text-align: center;

}

.recipe-img img{
    display: block;
    max-width: 100%;
    max-height:100%;
    margin:20px auto;
    border-radius:10%;
    overflow: hidden;
}

.recipe-description {
    text-align: left;
}

.recipe-description h2 {
    text-align: center;
    border: 5px inset rgb(71, 29, 29);
    border-radius:10%;

}

.recipe {
    display: block;
}

.recipe h2 {
    text-align: center;
    border: 5px inset rgb(71, 29, 29);
}

.recipe-ingredients{
    display: block;
    margin: 0 20px 0 0;
    padding: 10px;
    text-align: left;
}

.recipe-steps{
    display: block;
    vertical-align:top;
    padding: 10px;
    text-align: left;
}