body{
   color:black;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(177, 111, 30);
   margin:0;
   box-sizing: ;
   
}

.recipe-card{
    border: 20px inset wheat;
}

.recipe-intro{
    display: inline-block;
    }

.nav-bar{
    display: block;
    text-align: center;

}

.nav-bar ul{
    display: block;
    padding:0;
    border: 10px inset wheat;
    overflow: hidden;
}

.nav-bar ul li {
    display: inline-block;
    text-align: center;
    margin: 0 50px;
    font-weight: bold;
    border: 10px inset wheat;
    background-color: antiquewhite;
    font-weight: bold;

}

.recipe-header{
    display: block;
    text-align: Center;
    border: 5px inset wheat;
    overflow: hidden;
}

.recipe-img img{
    display: inline-block;
    max-width: 90%;
    max-height:100%;
    padding: 20px;
    overflow: hidden;

.recipe-discription{

}


.recipe-ingredients{

}

.recipe-steps{

}
